<div class="container">
  <article class="episode">
      <div class="episode__number">01</div>
    <div class="episode__content">
      <div class="title">Primer pas</div>
      <div class="story">
        <p>Per poder afegir una nova cara a la porta, ves a l’apartat de la white list, un cop allà posa el teu identificador de producte, i el nom de la persona nova.</p>
      </div>
    </div>
  </article>
  
  <article class="episode">
    <div class="episode__number">02</div>
    <div class="episode__content">
      <div class="title">Segon pas</div>
      <div class="story">
        <p>A continuació ves a la teva porta, i amb aquesta oberta, passa el clauer pel lector rfid i començarà el procés per afegir la cara.</p>
      </div>
    </div>
  </article>

</div>
