<div class="container">
  <h1 class="center">El nostre projecte</h1>
  <article class="episode">
    <div class="episode__number">01</div>
    <div class="episode__content">
      <div class="title">Qui som?</div>
      <div class="story">
        <p>Som l’Arnau i l’Ignasi, dos estudiants de batxillerat de l’institut Jaume Callís de Vic. I hem decidit realitzar aquest projecte. </p>
      </div>
    </div>
  </article>
  
  <article class="episode">
    <div class="episode__number">02</div>
    <div class="episode__content">
      <div class="title">Que hem fet?</div>
      <div class="story">
        <p>El nostre projecte consta de dues grans parts, la primera és la pàgina en la que ens trobem en aquest precís instant, la que ens permet: tenir un registre de la activitat que ha tingut la nostre porta, crear una llista amb la gent que tingui permesa l’entrada i a part teniu també un apartat on trobareu instruccions a seguir per el correcte funcionament de la porta.</p>
        <p>La segona part, es tracta de un mecanisme capaç, de reconèixer i obrir la porta a partir del reconeixement facial, a aquelles persones autoritzades.</p>      
      </div>
    </div>
  </article>

</div>

